h2 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 100px;
    margin-bottom: 100px;
}

ul {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    gap: 100px;
    background-color: #eeeff1fb;
    padding: 15px;
}

.seta{
    display:flex;
    margin:30px;
    justify-content: end;
}